project:
  type: website
  output-dir: docs

website:
  title: "isabella-chan-protfolio"
  navbar:
    left:
      - href: index.qmd
        text: "Home"
      - href: about.qmd
        text: "About Me"
format:
  html:
    theme: sandstone
    css: styles.css
    toc: true

editor: source

